@use "../../assets/sass/variables" as *;

.tile {
  &__banner {
    overflow: hidden;
    background-color: $main-background;
    height: 35vh;
    position: relative;
  }

  &__img {
    border-radius: 15px;
    width: calc(100% - 50px);
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &--first {
      top: 50px;
    }

    &--last {
      bottom: 50px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $button-text;
  }
  &__basic {
    text-align: center;
    width: 40vw;
    height: auto;
    &--heading {
      font-family: $font-headings;
    }
    &--content {
      font-family: $font-paragraphs;
    }
  }
  &__brew {
    text-align: center;
    width: 40vw;
    height: auto;
    &--heading {
      font-family: $font-headings;
    }
    &--content {
      font-family: $font-paragraphs;
    }
  }
  &__stats {
    width: 30vw;
    height: auto;
    &--heading {
      font-family: $font-headings;
    }
    &--content {
      font-family: $font-paragraphs;
    }
  }
}

// @media screen and (min-width: 820px) {
//   .tile {
//     grid-auto-columns: 1fr 1fr;
//     grid-template-areas:
//       "basic brew"
//       "stats stats"
//       "img img";
//     place-items: left;
//   }
// }

// @media screen and (min-width: 780px) and (max-width: 819px) {
//   .tile {
//     grid-auto-columns: 1fr 1fr;
//     grid-template-areas:
//       "img img"
//       "basic brew"
//       "stats stats";
//     place-items: left;
//   }
// }
