@use "../../assets/sass/variables" as *;

.taster-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: $main-card;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 400px;
        gap: 1em;
    }&__card {
        height: 250px;
        width: 250px;
        background-color: $nav-background;
    }
}
