@use "../../assets/sass/variables" as *;

.taster-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: $main-card;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 850px;
    gap: 1em;
  }
  &__card {
    height: 250px;
    width: 250px;
    background-color: $nav-background;
  }
  &__button {
    background-color: $button-background;
    color: $button-text;
    border: none;
    font-family: $font-paragraphs;
    border-radius: 20px;
    padding: 10px;
    margin: 1em;
    &:hover {
      color: $button-background;
      background-color: $button-text;
    }
  }
}

@media screen and (min-width: 820px) {
  .taster-menu {
    &__content {
      height: 400px;
    }
  }
}

@media screen and (min-width: 400px) {
  .taster-menu {
    &__content {
      height: 600px;
    }
  }
}
