@use "../../assets/sass/variables" as *;

.taster-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $main-background;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 150vh;
    gap: 1em;
    }&__card {
        height: 100vh;
        width: 30vw;
        background-color: $nav-background;
    }
}
