@use "../../assets/sass/variables" as *;

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  position: relative;
  &__github {
    border: 2px solid $button-background;
    padding: 10px;
    border-radius: 50px;
    &:hover {
      background-color: $button-background;
    }
  }
  &__item {
    color: $main-paragraph;
    padding: 8px;
    text-decoration: none;
    font-family: $font-paragraphs;
    border-radius: 25px;
    border: 2px solid $button-background;
    margin: 1em;
    &:hover {
      background-color: $button-background;
      color: $button-text;
    }
  }
  &__mobile {
    background-color: $button-background;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &--item {
      font-size: 30px;
      text-decoration: none;
      color: $button-text;
      padding: 20px;
      font-family: $font-paragraphs;
    }
    &--cross {
      height: 25px;
      width: 25px;
      position: absolute;
      right: 20px;
      top: 15px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 680px) {
  .nav-menu {
    &__laptop {
      display: block;
    }
    &__icon {
      display: none;
    }
  }
}

@media screen and (max-width: 680px) {
  .nav-menu {
    &__laptop {
      display: none;
    }
    &__icon {
      display: block;
    }
  }
}
