@use "../../assets/sass/variables" as *;
.card {
    border: 1px solid $border;
    width: 200px;
    height: 700px;
    &__image {
        width: 5vw;
        height: auto
    }&__food {
        text-align: left;
    }
}