@use "../../assets/sass/variables" as *;
.card {
  border: 1px solid $button-text;
  background-color: $main-card;
  width: 250px;
  height: 400px;
  position: relative;
  &__basic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__cross {
    height: 25px;
    width: 25px;
    position: absolute;
    right: 20px;
    top: 15px;
    &:hover {
      cursor: pointer;
    }
  }
  &__button {
    color: $main-paragraph;
    padding: 8px;
    text-decoration: none;
    font-family: $font-paragraphs;
    border-radius: 25px;
    border: 1px solid $button-background;
    margin: 1em;
    &:hover {
      background-color: $button-background;
      color: $button-text;
      border: none;
    }
  }
  &__name {
    color: $main-heading;
    text-align: center;
    font-family: $font-headings;
    font-size: 1em;
  }
  &__tagline {
    font-size: 1em;
    text-align: center;
    font-family: $font-paragraphs;
    color: $main-paragraph;
  }
  &__image {
    padding-top: 1em;
    width: auto;
    height: 18vh;
  }
  &__stats {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    &--heading {
      padding-left: 1em;
      font-family: $font-headings;
      color: $main-heading;
    }
    &--list {
      font-family: $font-paragraphs;
      color: $main-paragraph;
    }
  }
}
