@use "../../assets/sass/variables" as *;

.landing {
    background-color: black;
    padding-bottom: 300px;
    &__img {
        width: 100%;
        position: absolute;
    }&__content {
        padding: 1em;
        position: relative;
        color: $button-text;
        width: 40vw;
        top: 240px;
        left: 10px;
        &--title {
            font-family: $font-headings;
        }&--para {
            font-family: $font-paragraphs;
        }
    }
}

@media screen and (max-width: 1000px){
    .landing{
       border: none;
    }
}