//--FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik+Mono+One&display=swap');

$font-headings: 'Rubik Mono One', sans-serif;
$font-paragraphs: 'Roboto Mono', monospace;

//--COLOURS
$main-background: #0f0e17;
$main-heading: #fffffe;
$main-card: #a7a9be;
$main-paragraph: #2e2f3e;
$nav-background: #f25f4c;
$button-background: #ff8906;
$button-text: #fffffe;
$border: #555153;
