//--FONTS
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora&display=swap');

$font-headings: 'Anton', sans-serif;
$font-paragraphs: 'Lora', serif;

//--COLOURS
$main-background: #90b4ce;
$main-heading: #094067;
$main-card: #fffffe;
$main-paragraph: #5f6c7b;
$nav-background: #d8eefe;
$button-background: #3da9fc;
$button-text: #ffffff;
$border: #ef4565;
